
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/
/allure-report/

# Local Playwright practice tests
/tests/mytest.spec.ts
/tests/mytest2.spec.ts
/tests/pwlocator.spec.ts
/tests/pwlocators.spec.ts

.DS_Store
